.demo-content {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: flex-start;
  gap: 20px; /* Space between the video and reference links */
  flex-wrap: wrap; /* Wrap on smaller screens */
}
.demo-title {
  color: #007bff;
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}
.demo-subtitle{
  text-align:center;
}
.demo-divider {
  width: 60px;
  height: 2px;
  background-color: #007bff;
  margin: 10px auto;
}
.video-section {
  flex: 1; /* Reduced flex to take less space */
  max-width: 50%; /* Set a maximum width */
}

.demo-video {
  width: 74%; /* Full width inside its container */
  height: 347px;
  margin-left: 190px;
}

.reference-links {
  flex: 1; /* Reduced flex to take less space */
  max-width: 40%; /* Set a maximum width */
  background-color: #f9f9f9;
  padding-left: 60px;
  padding-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.reference-links h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.reference-links ul {
  list-style-type: none;
  padding: 0;
  line-height: 17px;
}

.reference-links li {
  margin-bottom: 8px;
}

.reference-links a {
  color: #0077ff;
  text-decoration: none;
}

.reference-links a:hover {
  text-decoration: underline;
}
